spring:
#  cache:
#    type: hazelcast
#  hazelcast:
#    config:

  application:
    name: parent-children-service

  datasource:
    url: jdbc:postgresql://localhost:5432/hazelcast_demo
    username: postgres
    password: postgres

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    properties:
      hibernate:
        format_sql: true
        order_inserts: true
        order_updates: true
        jdbc:
          lob.non_contextual_creation: true
          batch_size: 100
          fetch_size: 100
          batch_versioned_data: true
        cache:
          use_second_level_cache: true
          use_query_cache: true
          hazelcast:
            use_native_client: true
            native_client_address: localhost
            native_client_group: dev
          region:
            factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory

logging:
  level:
    jdbc:
      sqlonly: fatal
      resultsettable: info
      sqltiming: info
      audit: fatal
      resultset: fatal
      connection: fatal
    org:
      springframework:
        security: debug
        orm:
          jpa: debug

log4jdbc:
  dump:
    sql:
      addsemicolon: true
      maxlinelength: 0
  trim:
    sql:
      extrablanklines: false
